<div class="row">
  <div class="col text-center">
    <img src="http://www.quickmeme.com/img/2a/2a030872fa0ce79edaa1de5fb5f0e2126f42037c8a70b43b79e8435a391a07ce.jpg">

    <h1 class='mt-5'>Whoops.  Something went wrong.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>